body,h1,h2,p,ul,li{
    margin:0;
    padding:0;
}
body{
    font-family:Arial,sans-serif;
    line-height:1.6;
}
header{
    background-color:#333;
    color:#fff;
    text-align:center;
    padding:1 rem;
    display:flex;
    align-items:contex;
    justify-content:space-between;
}
.logo.img{
    max-width:400px;
    height:auto;
}
.header-content{
    text-align:left;
}
nav {
    background-color:#444;
}
.menu{
    list-style:none;
    display:flex;
    justify-content:center;
    padding:1rem 0;
}
.menuli{
    margin:0 1rem;
    position:relative;
}
.menu a{
    margin:0 1rem;
    position:relative;
}
.menu a{
    color:#fff;
    text-decoration:none;
    transition:color 0.35;
}
.menu a:hover {
    color:#ff9900;
}
.submenu-content{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background-color:#444;
    z-index:1;
}
main{
    padding:2rem;
}
department{
    margin-bottom:2rem;
}
footer{
    text-align:center;
    padding:1rem 0;
    background-color:#444;
    color:#444;
}
.social-links a{
    color:#3dbff3;
    text-decoration:none;
    margin:2 10px;
}
@media screen and(max-width:768px){
    header{
        flex-direction:column;
    }
    .logo{
        margin-bottom:1rem
    }
}
    


